<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Mean2 Starter (MongoDB, Express, Angular2, NodeJS</title>

    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="js/vendor/core-js/client/shim.min.js"></script>
    <script src="js/vendor/hammerjs/hammer.min.js"></script>
    <script src="js/vendor/zone.js/dist/zone.js"></script>
    <script src="js/vendor/reflect-metadata/Reflect.js"></script>
    <script src="js/vendor/systemjs/dist/system.src.js"></script>

    <!-- 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>

    <link href="js/vendor/@angular2-material/core/style/core.css">
    <link href="js/vendor/@angular2-material/core/overlay/overlay.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<my-app>Loading...</my-app>

<script>
    System.import('app').catch(function(err){ console.error(err);  });
</script>
</body>
</html>
